:root{
  --main-radius: 5px;
  --main-padding: 5px;
}

.container{
	display:grid;
	height:100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .8fr 1.5fr 1.2fr .8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "footer footer footer footer";
  grid-gap: 0.4rem;
}

nav{
  background: #ff5c33;
  text-align: center;
  grid-area: nav;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}

#sidebar{
  background: #ff5c33;
  text-align: center;
  grid-area: sidebar;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}
#content1{
  background: #000000;
  color: white;
  text-align: center;
  grid-area: content1;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}
#content2{
  background: #000000;
  color: white;
  text-align: center;
  grid-area: content2;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}
#content3{
  background: #000000;
  color: white;
  text-align: center;
  grid-area: content3;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}
#content4{
  background: #000000;
  color: white;
  text-align: center;
  grid-area: content4;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}
#content5{
  background: #000000;
  color: white;
  text-align: center;
  grid-area: content5;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}
#content6{
  background: #000000;
  color: white;
  text-align: center;
  grid-area:content6;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}
footer{
  background: #ff5c33;
  text-align: center;
  grid-area: footer;
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}

@media only screen and (max-width:550px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
    "nav"
    "sidebar"
    "content1"
    "content2"
    "content3"
    "content4"
    "content5"
    "content6"
    "footer";
  }
}
